        /* brand-story-contents-title */

        .brand-story-contents-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .brand-story-contents-title :first-child{
            font-size: var(--contents-title__fontsize);
            font-family: var(--contents-title__fontfamily);
            padding-top: 45px;
        }
        .brand-story-contents-title :nth-child(2){
            width: 100px;
            height: 1px;
            text-align: center;
            margin: 30px;
            background-color: var(--green);
            text-indent: -1000em;
        }
        .brand-story-contents-title :last-child{
            font-size: 14px;
            color: #777;
            padding-bottom: 30px;
        }
        
                /* brand-story-contents-box*/
        
        .brand-story-contents-box{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .brand-story-contents-box__info{
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .brand-story-contents-box__info :first-child{
            color: var(--green);
            font-size: 18px;
            font-weight: 600;
            margin: 0 0 10px 0;
        }
        .brand-story-contents-box__info :nth-child(2){
            width: 55%;
            font-size: 13px;
            line-height: 16px;
            color: #333;
            margin-bottom: 15px;
            padding: 0 5px;
            letter-spacing: -1px;
        }
        .brand-story-contents-box__info:nth-child(2){
            border-right: 1px solid var(--green);
            border-left: 1px solid var(--green);
        }
        