.contents-box-index{
    display: flex;
    justify-content: center;
}
.contents-box-index__text{
    width: 33%;
    padding: 0 60px;
    line-height: 20px;
    
}
.contents-box-index__text h3 {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 25px;
}
.contents-box-index__text__main{
    font-size: 14px;
    letter-spacing: 1px;
    
}
.contents-box-index__text__bottom {
    font-size: 11px;
    color: #777;
    padding: 20px 0 50px 0;
}


.contents-box-index__social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}
.contents-box-index__social__icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents-box-index__social__icon li{
    padding: 0 30px;
    font-size: 13px;
    font-weight: 400; 
    letter-spacing: 1px;
    
}
.contents-box-index__social__icon li:nth-child(2){
    color: var(--green);
    padding: 15px 0;
}
