.main-bottom-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/sub_vis_pt01.jpg);
    margin: 75px 0 50px 0;
}
.main-bottom-slide__map{
    width: 780px;
    height: 270px;
}