.main-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  var(--green);
}
.main-slide__text{
    color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-slide__text__first{
    padding: 20px 0;
    font-size: var(--contents-title__fontsize);
    font-family: var(--contents-title__fontfamily);
}
.main-slide__text__second{
    padding: 0 0 50px 0;
    font-size: 24px;
}
.main-slide__text__third{
    line-height: 19px;
    width: 30%;
    font-size: 13px;
}
.main-slide__text--big{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    
}
